body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: url('/static/bg.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: transparent;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px; /* Reduced padding to move nav links to the left */
  position: fixed; /* Keeps the header fixed at the top */
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 80px;
  width: 80px;
  border-radius: 10px;
}
.logo h2{
  color: white;
}

#chat-container {
  width: 33%;
  max-width: 600px;
  height: 70%;
  background: rgb(27, 58, 104, 0.4); /* Semi-transparent background */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 75%;
  padding: 10px 15px;
  border-radius: 15px;
  line-height: 1.5;
  color: white;
}

.user {
  align-self: flex-end;
  background-color: #4caf50;
}

.bot {
  align-self: flex-start;
  background-color: #2196f3;
}

#input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #142a4f;
  gap: 10px;
}

#user-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#send-button {
  padding: 10px 15px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#send-button:hover {
  background-color: #1e88e5;
}

#microphone {
  cursor: pointer;
  background: rgb(197, 128, 0);
  border: none;
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;

}
